/*GENERAL*/
a{
    text-decoration: none;
    color: #000;
}

/*HEADER*/
header{
    display: flex;
    justify-content: space-between;
    height: 100px;
    margin: 0 50px 0 50px;
}

header img{
    height: 50px;
    
}

#logo{
    margin-top: 20px;
}

/*NAVIGATION*/

.navbar{
    display: flex;
    align-items: center;
    margin-right: 50px;
    
}

.navbar-menu{
    margin: 0;
    padding: 0;
}

.navbar-menu_item{
    display: inline-block;
    margin-right: 50px;
    list-style-type: none;
}

.navbar-menu_item a:hover{
    border-top: solid 2.5px #0065FC;
    padding-top: 38px;
    color: #0065FC;
}

#inscription{
    color: #0065FC;
    font-weight: bold;
    padding-top: 40.5px;
    position: absolute;
    right: 0;
    top: 0;
}



/*CORPS*/
#blocpage{
    margin: 0 50px 0 50px;
}
body{
    margin: 0;
    max-width: 100%;
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
}

/*RECHERCHE*/
.search-form{
    display: flex;
}

.fas{
    font-size: 1.3em;
}

.search-form_icon{
    padding: 0;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-style: none;
    height: 50px;
    width: 50px;
}

.search-form_input{
    border: 1px solid #d9d9d9;
    font-size: 1em;
    height: 50px;
    font-weight: bold;
    padding-left: 20px;
    border-left: none;
    border-right: none;
}

.search-form_button{
    background-color: #0065FC;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 1em;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-style: none;
    width: 120px;
    height: 50px;
    padding: 0;
}

.boutonrechercheiphone{
    visibility: hidden;
}

/* PARTIE FILTRES */
#filters-title{
    float: left;
    margin-right: 30px;
    font-weight: bold;
    font-size: 1.3em;
}
.filters{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 80%;
}

.filters-bloc{
    display: inline-block;
    margin-right: 30px;
    border: 2px solid #d9d9d9;
    border-radius: 30px;
    padding: 12.5px;
    font-size: 1em;
    font-weight: bold;
}

.filters-bloc_icon{
    color: #0065FC;
    background-color: #DEEBFF;
    padding: 16px;
    border-radius: 50%;
    margin-left: -16px;
}

.filters-bloc:hover{
    background-color: #f5f9ff;
    transform: scale(1.2);
}

/* Ligne infos */
.info{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.info-icon{
    color: #0065FC;
    padding: 8px 15px 8px 15px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #d9d9d9;
    margin-right: 20px;
}

/*HEBERGEMENTS*/
#mainsection{
    display: flex;
}

article, aside{
    text-align: justify;
}


/* ARTICLE */
article{
    background-color: #F2F2F2;
    border-radius: 15px;
    width: 80%;
    margin-right: 50px;
}

.article-container-details{
    margin-left: 20px;
    margin-top: 5px;
}


#article-title{
    margin-left: 50px;
    margin-top: 50px;
}


.article-container{
    justify-content: space-around;
    display: flex;
    border-radius: 15px;
    flex-wrap: wrap;
}

.article-container_bloc{
    height: 250px;
    width: 320px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 1px 24px 8px rgba(12,11,11,0.27);
    -webkit-box-shadow: 0px 1px 24px 8px rgba(12,11,11,0.27);
    -moz-box-shadow: 0px 1px 24px 8px rgba(12,11,11,0.27);
    margin-bottom: 30px;
}

.article-container_bloc_infos{
    height: 80px;
}

.article-container_bloc_infos img{
    object-fit: cover;
    height: 150px;
    width: 310px;
    margin-left: 5px;
    margin-top: 5px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.article-container_bloc_infos_title{
    margin: 0px 0px -10px 0px;
}

.article-container_bloc_infos_description{
    margin-bottom: 10px;
}

.article-container_bloc_infos_stars{
    color: #0065FC;
    font-size: 0.7em;
}

.greystar{
    color: #F2F2F2;
}

#afficher-plus{
    margin-left: 50px;
    margin-bottom: 50px;
    font-weight: bold;
    font-size: 1.3em;
}

/* ASIDE */
aside{
    background-color: #F2F2F2;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
}

.aside-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
    margin-bottom: 10px;
    margin-left: 15px;
}

.aside-container{
    justify-content: space-around;
}

.aside-container_bloc{
    width: 380px;
    height: 160px;
    background: white;
    border-radius: 15px;
    box-shadow: 0px 1px 24px 8px rgba(12,11,11,0.27);
    -webkit-box-shadow: 0px 1px 24px 8px rgba(12,11,11,0.27);
    -moz-box-shadow: 0px 1px 24px 8px rgba(12,11,11,0.27);
    margin: 0px 20px 40px 20px;
}

.aside-container img{
    object-fit: cover;
    width: 125px;
    height: 150px;
    margin: 5px 0px -1px 5px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.aside-container-details{
    display: flex;
    flex-direction: column;
    margin-top: -150px;
    margin-left: 150px;
}

.aside-container-details_title{
    font-size: 1.1em;
    margin-bottom: -10px;
}

.aside-container-details_description{
    font-size: 0.9em;
    margin-bottom: 40px;
}

.aside-container-details_stars{
    color: #0065FC;
    font-size: 0.7em;
}

/* ACTIVITES */
#activites{
    margin-top: 60px;
    margin-bottom: 30px;
}

/* Grandes images */
.activites-container{
    display: flex;
    justify-content: space-between;
    height: 630px;
}

.activites-container-tall{
    height: 590px;
    width: 400px;
    -webkit-box-shadow: 2px 2px 20px rgb(230 230 230);
    box-shadow: 2px 2px 20px rgb(230 230 230);
    border-radius: 15px;
}

.activites-container-tall img{
    object-fit: cover;
    height: 520px;
    width: 400px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

/* Petites images */
.activites-container-small{
    flex-direction: column;
    display: flex;
    justify-content: space-between;
}

/*Fort de Pomègues */
.activites-container-small-pomegues{
    width: 400px;
    height: 300px;
    -webkit-box-shadow: 2px 2px 20px rgb(230 230 230);
    box-shadow: 2px 2px 20px rgb(230 230 230);
    border-radius: 15px;
    margin-bottom: 40px;
}

.pomegues-img{
    object-fit: cover;
    width: 400px;
    height: 230px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

/* Iles du Frioul */
.activites-container-small-frioul{
    width: 400px;
    height: 220px;
    -webkit-box-shadow: 2px 2px 20px rgb(230 230 230);
    box-shadow: 2px 2px 20px rgb(230 230 230);
    border-radius: 15px;
    margin-bottom: 40px;
}

.frioul-img{
    object-fit: cover;
    width: 400px;
    height: 150px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}


/* Notre Dame de la Garde */
.activites-container-small-notredame{
    width: 400px;
    height: 260px;
    -webkit-box-shadow: 2px 2px 20px rgb(230 230 230);
    box-shadow: 2px 2px 20px rgb(230 230 230);
    border-radius: 15px;
}

.notredame-img{
    object-fit: cover;
    width: 400px;
    height: 190px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}


/* Parc Longchamp */
.activites-container-small-longchamp{
    width: 400px;
    height: 260px;
    -webkit-box-shadow: 2px 2px 20px rgb(230 230 230);
    box-shadow: 2px 2px 20px rgb(230 230 230);
    border-radius: 15px;
    margin-bottom: 40px;
}

.longchamp-img{
    object-fit: cover;
    width: 400px;
    height: 190px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.activites-container-titles{
    margin: 20px 0px 10px 20px;
}

/*FOOTER*/
.footer-infos{
    display: flex;
    background-color: #F2F2F2;
    padding-bottom: 20px;
    padding-top: 20px;
}

.footer-infos_section1{
    margin-right: 300px;
    margin-left: 30px;
}

.footer-infos_section2{
    margin-right: 300px;
    margin-left: 30px;
}

.footer-infos_section3{
    margin-right: 300px;
    margin-left: 30px;
}
.footer-infos_title{
    padding-left: 40px;
}

.footer-infos_list{
    list-style-type: none;
}
.footer-infos_list_element{
    padding-bottom: 10px;
}
.footer-infos_list_element a:hover{
    font-weight: bold;
}





/* PARTIE RESPONSIVE * / 

/* Tablettes */
@media screen and (max-width: 768px)
{
    /* Modification header avec logo à côté de s'inscrire et hébergements et activités en dessous */
    #blocpage
    {
        width: auto;
    }
    
    header
    {
        flex-direction: column;
    }

    .main-nav
    {
        display: flex;
        border-bottom: solid 2.5px #f2f2f2;
        width: 100%;
    }

    .navitem a:hover{
        border-top: none;
        padding-top: 38px;
        color: #0065FC;
        border-bottom: solid 2.5px #0065FC;
    }

    .search-form_button_iphone{
        visibility: visible;
    }

    .search-form_button{
        visibility: hidden;
    }


    /* Partie filtres */

    /* Partie hébergements */
    #mainsection
    {
        flex-direction: column-reverse;
    }

    aside 
    {
        margin-bottom: 50px;
    }

    /* Partie activités */
    .activites-container
    {
        flex-direction: column;
    }

    /* Partie footer */
    footer 
    {
        position: absolute;
    }


}


/* iPhone8 */

@media screen and (max-width: 375px)
{
    /* Partie filtres */
    #titre-filtres
    {
        width: 100%;
    }

    /* Footer colonne */
    .infos
    {
        flex-direction: column;
    }
}

