/*GENERAL*/
a{
    text-decoration: none;
    color: black;
}

/*HEADER*/
header{
    display: flex;
    justify-content: space-between;
    height: 100px;
}

header img{
    height: 50px;
    
}

#logo{
    margin-top: 20px;
}

/*NAVIGATION*/

.navbar{
    display: flex;
    align-items: center;
    margin-right: 50px;
    
}

.main-nav{
    margin: 0;
}

.navitem{
    display: inline-block;
    margin-right: 50px;
    list-style-type: none;
}

.navitem a:hover{
    border-top: solid 2.5px #0065FC;
    padding-top: 38px;
    color: #0065FC;
}

#inscription{
    color: #0065FC;
    font-weight: bold;
}



/*CORPS*/

body{
    margin: 0 50px 0 50px;
    max-width: 100%;
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
}

/*RECHERCHE*/
form{
    display: flex;
}
.fas{
    font-size: 1.3em;
}

.icône-position{
    padding: 0;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-style: none;
    height: 50px;
    width: 50px;
}

.champrecherche{
    border: 1px solid #d9d9d9;
    font-size: 1em;
    height: 50px;
    font-weight: bold;
    padding-left: 20px;
    border-left: none;
    border-right: none;
}

.boutonrecherche{
    background-color: #0065FC;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 1em;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-style: none;
    width: 120px;
    height: 50px;
    padding: 0;
}

.search{
    display: flex;
    height: 50px;
    margin-bottom: 30px;
}

/* PARTIE FILTRES */
#titre-filtres{
    float: left;
}
.filtres{
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 80%;
}

.blocs-icônes{
    margin-left: 50px;
    border: 2px solid #d9d9d9;
    border-radius: 30px;
    padding: 12.5px;
    font-size: 1em;
    font-weight: bold;
}

.icons{
    color: #0065FC;
    background-color: #DEEBFF;
    padding: 16px;
    border-radius: 50%;
    margin-left: -16px;
}

/* Ligne infos */
.infos-logements{
    display: flex;
    align-items: center;
}
.icône-info{
    color: #0065FC;
    padding: 8px 15px 8px 15px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #d9d9d9;
    margin-right: 20px;
}

/*HEBERGEMENTS*/
#hebergements{
    justify-content: space-around;
    display: flex;
    padding: 40px;
    border-radius: 15px;
    margin-bottom: 30px;
    flex-wrap: wrap;
    width: 80%;
}
.hebergements-infos{
    height: 80px;
}

.hebergements-infos h3{
    margin: 0px 0px -10px 0px;
}

.hebergements-infos p{
    margin-bottom: 10px;
}

.stars{
    color: #0065FC;
    font-size: 0.7em;
}

.greystar{
    color: #F2F2F2;
}

.logements{
    width: 250px;
    background-color: #fff;
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.4); 
    box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.4);
    padding: 150px 20px 5px 20px;
    margin-bottom: 30px;
}

#mainsection{
    display: flex;
}

.titres-article{
    margin-left: 75px;
}

article, aside{
    text-align: justify;
}

/* ARTICLE */
article{
    background-color: #F2F2F2;
    border-radius: 15px;
    width: 80%;
    margin-right: 50px;
    margin-top: 30px;
}

.populaires{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* ASIDE */
aside{
    background-color: #F2F2F2;
    padding: 50px;
    border-radius: 10px;
    width: 20%;
}

.aside-container{
    width: 350px;
    height: 150px;
    background: white;
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.4); 
    box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.4);
    margin: 55px 30px 40px 30px;
}

.aside-container-details{
    display: flex;
    flex-direction: column;
    margin-top: -150px;
    margin-left: 150px;
}

.aside-container-details h3{
    font-size: 1.1em;
    margin-bottom: -10px;
}

.aside-container-details p {
    font-size: 0.9em;
    margin-bottom: 40px;
}

.aside-container img{
    object-fit: cover;
    width: 125px;
    height: 140px;
    margin: 5px 0px -1px 5px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}



/* Activités */

/*FOOTER*/
.infos{
    display: flex;
    background-color: #F2F2F2;
    padding-bottom: 30px;
    padding-top: 30px;
}

.infos ul{
    list-style-type: none;
}
.infos li{
    padding-bottom: 10px;
}
.infos h5{
    padding-left: 40px;
}

.apropos{
    margin-right: 50px;
    margin-left: 30px;
}

.noshebergements{
    margin-right: 50px;
    margin-left: 30px;
}

.assistance{
    margin-right: 50px;
    margin-left: 30px;
}
